<footer class="container-fluid" th:fragment="rodape" style="background-color: #F7F7F7; height: 40px; padding-top: 10px; margin-top: 60px;">
	<div class="container-fluid px-4">
		<div class="d-flex align-items-center justify-content-between small">
			<div class="text-muted">Todos os direitos reservados &copy;
			<a href="https://www.linkedin.com/in/wendel-segadilha-490b14199/" target="_blank">Wendel Segadilha</a> - 2021</div>
			<div>
				<a href="https://github.com/wendelsegadilha" target="_blank">GitHub</a>
				&middot; <a
					href="https://www.linkedin.com/in/wendel-segadilha-490b14199/"
					target="_blank">Linkedin</a>
			</div>
		</div>
	</div>
</footer>