<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8" /></head>
<header class="container-fluid" th:fragment="cabecalho">
        <div class="row bg-dark">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">CONTROLE DE ESTOQUE</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                      <span class="navbar-toggler-icon"></span>
                    </button>                  
                    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                          <a class="nav-link" th:href="@{/}">Página Inicial<span class="sr-only">(página atual)</span></a>
                        </li>                        
                        <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cadastros
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/clientes/cadastrar}">Clientes</a>
                            <a class="dropdown-item" th:href="@{/fornecedores/cadastrar}">Fornecedores</a>
                            <a class="dropdown-item" th:href="@{/produtos/cadastrar}">Produtos</a>
                          </div>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Consultas
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/clientes/listar}">Clientes</a>
                            <a class="dropdown-item" th:href="@{/fornecedores/listar}">Fornecedores</a>
                            <a class="dropdown-item" th:href="@{/produtos/listar}">Produtos</a>
                          </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/logout}">Sair</a>
                        </li>
                      </ul>
                     
                    </div>
                  </nav>
            </div>
        </div>
    </header>