<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/open-iconic/open-iconic-bootstrap.css">
    <title>Controle de Estoque</title>
  </head>
  <body>
    
    <header th:replace="fragments/header :: cabecalho"></header>

    <main th:replace="fragments/main :: principal"></main>

	<footer th:replace="fragments/footer :: rodape"></footer>    

    <script src="/vendor/bootstrap/jquery-3.3.1.slim.min.js"></script>
    <script src="/vendor/bootstrap/popper.min.js"></script>
    <script src="/vendor/bootstrap/bootstrap.min.js"></script>
    
  </body>
</html>