<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css" crossorigin="anonymous">
    <title>Controle de Estoque</title>
  </head>
  <body>
    
    <header th:replace="fragments/header :: cabecalho"></header>

    <main class="container">
        <div class="com-md-12 mt-3">
            <section>
                <div style="border-bottom: 1px solid #343A40;">
                    <h2>Cadastro de Produtos</h2>  
                </div>
                <div class="row">
                    <div class="col-md-12">
                    
                    	<div th:replace="fragments/alert"></div>
                    	
                        <form th:action="${produto.id == null} ? @{/produtos/salvar} : @{/produtos/editar}" method="POST" th:object="${produto}" enctype="multipart/form-data">
                            
                            <div class="form-row mt-2">
                              <div class="col-md-2">
                                <label for="codigo">Código</label>
                                <input type="number" class="form-control" id="codigo" readonly>
                              </div>
                              <div class="col-md-10">
                                <label for="descricao">Descrição</label>
                                <input type="text" class="form-control" id="descricao" 
                                placeholder="Bomba de óleo..." th:field="*{descricao}" th:classappend="${#fields.hasErrors('descricao')} ? 'is-invalid'">
	                              	<div class="invalid-feedback">
										<span th:errors="*{descricao}"></span>
		                        	</div>
                              </div>
                            </div>
                            <div class="form-row mt-2">
                              <div class="col-md-4">
                                <label for="categoria">Categoria</label>
                                <select class="form-control" id="categoria" th:field="*{categoria}" th:classappend="${#fields.hasErrors('categoria')} ? 'is-invalid'">
                                  <option value="">Selecione...</option>
                                  <option th:each="cat : ${categorias}" th:value="${cat}" th:text="${cat.descricao}">Novo</option>
                                </select>
	                                <div class="invalid-feedback">
											<span th:errors="*{categoria}"></span>
			                        </div>
                              </div>
                              <div class="col-md-5">
                                <label for="fornecedor">Fornecedor</label>
                                <select class="form-control" id="fornecedor" th:field="*{fornecedor}" th:classappend="${#fields.hasErrors('fornecedor')} ? 'is-invalid'">
                                  <option value="">Selecione...</option>
                                  <option th:each="forn : ${fornecedores}" th:value="${forn.id}" th:text="${forn.nomeFantasia}">Brasil Peças Importados</option>
                                </select>
	                                <div class="invalid-feedback">
											<span th:errors="*{fornecedor}"></span>
			                        </div>
                              </div>
                              <div class="col-md-3 mt-2">
                              	<label for="arquivo">Imagem</label>
    							<input type="file" class="form-control-file" id="arquivo" name="arquivo"  accept=".jpg, .jpeg">
    							<span style="font-size: 10px;">Tamanho máxino 2MB</span>
                              </div>
                            </div>
                            <div class="form-row mt-2">
                                <div class="col-md-6">
                                    <label for="fabricante">Fabricante</label>
                                    <input type="text" class="form-control" id="fabricante" placeholder="Balucias..." th:field="*{fabricante}" th:classappend="${#fields.hasErrors('fabricante')} ? 'is-invalid'">
                                	<div class="invalid-feedback">
										<span th:errors="*{fabricante}"></span>
		                        	</div>
                                </div>
                                <div class="col-md-2">
                                    <label for="preco_custo">Preço Custo</label>
                                    <input type="text" class="form-control" data-mask="#.##0,00" data-mask-reverse="true" id="precoCusto" placeholder="R$ 120,00" th:field="*{precoCusto}" th:classappend="${#fields.hasErrors('precoCusto')} ? 'is-invalid'">
                                	<div class="invalid-feedback">
										<span th:errors="*{precoCusto}"></span>
		                        	</div>
                                </div>
                                <div class="col-md-2">
                                    <label for="preco_venda">Preço Venda</label>
                                    <input type="text" class="form-control" data-mask="#.##0,00" data-mask-reverse="true" id="precoVenda" placeholder="R$ 120,00" th:field="*{precoVenda}" th:classappend="${#fields.hasErrors('precoVenda')} ? 'is-invalid'">
                                	<div class="invalid-feedback">
										<span th:errors="*{precoVenda}"></span>
		                        	</div>
                                </div>
                                <div class="col-md-2">
                                    <label for="quantidade">Quantidade</label>
                                    <input type="number" class="form-control" id="quantidade" placeholder="10" th:field="*{quantidade}" th:classappend="${#fields.hasErrors('quantidade')} ? 'is-invalid'">
                                	<div class="invalid-feedback">
										<span th:errors="*{quantidade}"></span>
		                        	</div>
                                </div>
                            </div>
                            <div class="form-group mt-2">
                                <label for="informacoes">Informações adicionais</label>
                                <textarea class="form-control" id="informacoes" rows="3" th:field="*{informacoes}"></textarea>
                              </div>
                              <input type="hidden" id="id" th:field="*{id}"/>
                              <input type="hidden" id="id" th:field="*{foto}"/>
                            <div class="form-row mt-4">
                                <div class="col-md-3 col-xs-12">
                                    <button type="submit" class="btn btn-primary" style="width: 100%; height: 50px; font-weight: bold;">Cadastrar</button>
                                </div>
                            </div>
                          </form>
                    </div>

                </div>
            </section>
        </div>      
    </main>

	<footer th:replace="fragments/footer :: rodape"></footer>    
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="/vendor/bootstrap/jquery-3.1.0.js"></script>
    <script th:src="@{/webjars/jquery-mask-plugin/dist/jquery.mask.min.js}"></script>
    <script src="/vendor/bootstrap/popper.min.js"></script>
    <script src="/vendor/bootstrap/bootstrap.min.js"></script>
    
    <script type="text/javascript">
    $(document).ready(function(){
		//Ocultar alert
		setTimeout(function(){
			$(".alert").fadeOut("slow", function(){
				$(this).alert('close');
			});
		}, 5000);
		
	});
    </script>
    
  </body>
</html>